.character {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  width: 420px;
  height: 420px;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin: 10px;
  margin-bottom: 20px;
}

span {
  font-size: 35px;
  font-family: "Gloria Hallelujah", cursive;
  color: white;
  position: relative;
  top: -15px;
  bottom: -25px;
}

.name_container {
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
}

a {
  text-decoration: none;
}
