body {
  margin: 0;
  margin-bottom: 20px;
  background: linear-gradient(0.25turn, #174e01, #02658b);
}

header {
  background: linear-gradient(0.25turn, #174e01, #02658b);
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: -7%;
}

.img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  flex-basis: 50%;
}

@media screen and (min-width: 600px) {
  .col-md-3 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex-basis: 20%;
    text-align: center;
  }
}

.load_more_button {
  color: white;
  width: 20%;
  height: 50px;
  background: linear-gradient(0.25turn, #02658b, #174e01);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
